//--------
// Imports
//--------
@import "susy";
@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
//---------
// Includes 
//---------

@include border-box-sizing;

//----------
// Variables
//----------
$serif: (
        font-family: 'Noto Serif'
);

$sans: (
        font-family: 'Noto Sans'
);
$black: #323232;
$white: #FFF;
$blue: #008fff;
$table: #dddddd;
$table-alt: #999999;
//---------------
// Sussy Defaults
//---------------
$susy: (
        columns: 4,
        container: 1140px,
  //	debug: (image: show),
        global-box-sizing: border-box
);

//--------
// Wrapper
//--------
.wrap {
  @include container(80%);
  height: 100vh;
}

//--------
//  Header
//--------
header {
  @include span(4 of 4);
  text-align: center;
  background-color: $black;
  color: $white;
  p{
    color: $blue;
  }
}

//-----------
// Navigation
//-----------
nav {
  @include span(6 of 6);
  padding-top: 20px;
  background-color: $black;
  a:before {
    font-family: FontAwesome;
  }
  a[href="/"]:before{content: "\f015";}
  a[href="/about"]:before{content:"\f007";}
  a[href="/gallery"]:before{content:"\f03e";}
  a[href="/contact/create"]:before{content:"\f003";}
  a[href="/contact"]:before{content:"\f003";}
  a[href="/blog/create"]:before{content: "\f044";}
  a[href="/gallery/create"]:before{content: "\f1c5";}
  a[href="/auth/login"]:before{content:"\f023";}
  a[href="/auth/logout"]:before{content:"\f09c";}
  a[href="/auth/register"]:before{content: "\f234;";}
}
nav.normal  li {
  @include gallery(1 of 5);
  list-style: none;
  text-align: center;
  :hover {
    color: $blue;
  }
}
nav.admin  li {
  @include gallery(1 of 7);
  list-style: none;
  text-align: center;
  :hover {
    color: $blue;
  }
}

nav  li  a {
  color: $white;
  text-decoration: none;

}
//--------------
// Flash Message
//--------------
.flash_message {
  @include container();
  background-color: #008fff;
  h3{
    @include span(12 of 12);
    text-align:center;
  }
}

//--------------
// Content(Main)
//--------------
main {
  a:visited{
    color: $black;
  }
  h1,
  h2,
  h3,
  h4 {
    color: #008fff;
  }
  @include span(3 of 4);
  min-height: 67%;
  h2 {
    width: 100%;
    text-align: center;
  }
}
//--------
// Article
//--------

article.single {
  text-align: center;
}

//--------
// Welcome
//--------

.welcome {
  text-align: center;
}
//------
// Blog
//------
.blog {
  article {
    display: block;
    h3 {
      padding-top: 40px;
      @include span(1 of 1);
      text-align: center;
    }
    img{
      @include span(2 of 6);
    }
    p{
      @include span(4 of 6 last);

    }
    :first-child {
      margin-top: 0px;
    }
    :last-child {
      margin-bottom: 100px;
    }
  }
}

//--------------
// Image Gallery
//--------------
.gallery {
  @include container;
  a{
    text-decoration: none;
    color: black;
    :hover {
      color: rgba(0, 143, 255, 0.31);
    }
  }
}

.gallery .gallery-item {
  @include gallery(1 of 3);
  h3 {
    height: 2em;
  }
  img {
   max-height: 100px;
  }
}
.gallery img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.gallery img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
//--------
// Sidebar
//--------
aside {
  @include span(1 of 4 last);
  #links-header {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    text-decoration: none;
    li {
      text-align: center;
      font-size: 1em;
      padding-top: 10px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
//--------------
// Sidebar Links
//--------------
aside {
  a:before {
    font-family: FontAwesome;
  }
  //Github
  a[href="http://github.com/benjaminsweetnam247/"]:before {content:"\f1d3";}
  //LinkedIn
  a[href="http://www.linkedin.com/in/benjaminsweetnam"]:before {content:"\f08c";}
  //Twitter
  a[href="http://twitter.com/ben_s247"]:before {content:"\f099";}
  //Deviantart
  a[href="http://benosweetnam.deviantart.com"]:before {content:"\f1bd";}
}




//-----
// Form
//-----

.auth-form{
  width: 100%;
  margin: 0 auto;
}
form{
  @include container(80%);
  margin: 0;
  padding: 0;
  div{
    min-height: 30px;
  }
  label {
    @include span(2 of 6);
    text-align: right;
  }
  input {
    @include span(4 of 6 last);
  }

}


//---------
// About Me
//---------
.portfolio{

    @include container();
  .blurb {
    @include container();
  }
  .study {
    @include container();
  }
  .work {
    @include container();
  }

  h4 {
    font-size: 1.4em;
    text-align: center;
    color: #008fff
  }
  .blurb {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  //------
  // Study
  //------
  .study{
    tr {
      @include span(1 of 1);
      padding-top: 10px;

      th,
      td {
        text-align: center;
        @include gallery(1 of 3);
      }

    }
  }
//  //-----
//  // Work
//  //-----
  .work {
      tr {
        @include span(1 of 1);
        padding-top: 30px;
        th,
        td {
          text-align: center;
          @include gallery(1 of 4);
        }
      }
    }
  //--------
  // Hobbies
  //--------
  .hobbies {
     ul {
       font-weight: bold;
       margin-left: 0;
       padding-left: 0;
       @include span(1 of 1);
       list-style: none;
       :before {
         content: " ";
       }
     }

     li {
       @include gallery(1 of 4);
       padding-top: 15px;
     }

  }
}

//---------
// Portrait 
//---------
.portrait {
  @include container(200px);
}

.portrait>img {
  border-radius: 200px;
}




//-------
// Footer
//-------
footer {
  div {
    @include gallery(2 of 6);
  }
  padding: 20px 15px;
  background-color: $black;
  color: $white;
  @include span(1 of 1);
}

